<!DOCTYPE html>
<html lang="en">
<head>
<style>

button {
  background-color: #4c60af;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 35%;
  outline: 0;
  overflow-wrap: anywhere;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 10px;
}

</style>
</head>
<body>
<table>
<header>
<h1>Account Verifaction</h1>
</header>
<br>
<p>Thank you for making an account on <a href="https://www.planover.glitch.me">www.planover.glitch.me</a></p>
<p>Please confirm your email below</p>
<br>
<button>Confirm Email</button>
</table>
</body>
</html>