<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>PlanOver &middot; Not Found</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/style.css">
    
    <script src="/script.js" defer></script>
    
    <link rel="manifest" href="/manifest.json">
  </head>
<body>
  <header>
    <span id="usernameBoard"></span><h1>PlanOver</h1>
  </header>
  <div class="row">
    <div class="card">
      <h1>
   Whoops!
      </h1>
      <p>
        Looks like you've attempted to access a page that doesn't exist. Click <a href="/">me</a> to go back to the homepage.
      </p>
      <h6>
        ERR_404: NOT FOUND
      </h6>
    </div>
  </div>
</body>
</html>
